body {
    margin: 0 auto;
    width: 390px;
    height: 2200px;
    background-color: gray;
}
/*============ header =====================*/
.search__modal{
    position: absolute;
    top: 0;
    width: 390px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.search__modal--overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.search__modal--content {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%; 
    top: 100px;
}
.search__bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 390px;
    height: 80px;
    background-color: white;
}
.search__bar--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 390px;
    height: 80px;
}
.search-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 20px;
    height: auto;
    margin-left: -280px;
    filter: invert(68%) sepia(1%) saturate(3%) hue-rotate(4deg) brightness(83%) contrast(87%);}

#search__input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    width: 290px;
    height: 32px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 8px 20px rgba(80, 97, 255, 0.1);
    border: none;
    text-align: center;
}
#search__input::placeholder {
    /* margin-right : 20px; */
    /* gap: 10px; */
    /* text-indent: 1000px; */
    text-align:inherit;
    /* text-align: initial; */
    color: #8D8D8D;
}

#search__reset {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 220px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: #D1D1D1;
}

.modal__exit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
    /* background-color: lightpink; */
    /* font-family: 'Noto Sans', ; */
}
#exit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 80px;
    height: 20px; */
    background-color: white;
    /* margin-right: 16px; */
    font-family: 'Noto Sans', sans-serif;
    color : var(--color-text-gray2);
    font-size: var(--font-size-medium12);

}




/*======== main ===========*/
.search__keywords {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 1200px;
    background-color: white;
}
.hr-solid {
    margin: 0 auto;
    width: 390px;
    height: 0.3px;
    opacity: 10%;
}
.search__keywords--recommand {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 126px;
    gap: 2px;
    margin-bottom: var(--section-margin-bottom);
    font-family: 'Noto Sans', sans-serif;
    /* font-weight: var(--font-weight-bold); */

}
.search__keywords--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 390px;
    height: 40px;
    /* background-color: red; */
    padding: var(--section-padding);
}
.search__keywords--title :first-child {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: #8D8D8D;
    /* padding: var(--section-padding); */
    /* margin-left: 16px; */
    font-weight: var(--font-weight-bold);
}

/*------ keyword box들 ----------*/
.search__keywords--line1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
    width: 390px;
    height: 40px;
    /* background-color: aquamarine; */
    padding: var(--section-padding);
    /* font-family: 'Noto Sans', sans-serif; */
    font-size: var(--font-size-medium12);
    font-weight: var(--font-weight-regular);
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80px;
    height: 32px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);;

}
.box p {
    color: var(--color-text-gray);
}



.search__keywords--line2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
    width: 390px;
    height: 40px;
    /* background-color:aqua; */
    padding: var(--section-padding) ;

}

/**============ 인기 검색어 ==============**/
/* .hot__keywords {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 390px;
    height: 190px;
    background-color: blue;
} */
.hot__keywords--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 390px;
    height: 40px;
    /* background-color: green; */
    padding: var(--section-padding);

}
.hot__keywords--title :first-child {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: #8D8D8D;
    font-weight: var(--font-weight-bold);

    /* padding: var(--section-padding); */
}
.hot__keywords--title :nth-child(2) {
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
    color: #8D8D8D;
    /* padding: var(--section-padding); */
}

.hot__keywords--lists {
    display: flex;
    justify-content: flex-start;
    /* justify-content: space-around; */
    width: 390px;
    height: 150px;
    /* background-color: aqua; */
    padding: var(--section-padding);
    gap: 70px;
}

.hot__keywords--lists p {
    font-size: var(--font-size-medium12);
    font-family: var(--font-family-kr);
    color: var(--color-text-gray1);

}



.hot__keywords--column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    height: 150px;
    /* background-color: rebeccapurple; */
}
.hot__keywords--column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    height: 150px;
    /* background-color: red; */
}