* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}


/*====== theme-box-area ===========*/
.theme-box-area {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    width: 330px;
    height: 400px;
    background-color: white;
    border-radius: 14px;
    /* object-fit: cover; */
    /* overflow: auto; */
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;
}.theme-box-pic-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 280px;
    background-color: gray;
    border-radius: 14px 14px 0 0;
    /* box-sizing: border-box; */
    /* object-fit: fill; */
    overflow: auto;
    margin-bottom: -10px;
}.theme-box-pic-area img {
    width: 100%;
    height: 100%;
}

.profile-outter-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color: aqua; */
    gap: 8px;
    padding : var(--section-padding);

}
.profile-pic-id-outter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    /* align-content: center; */
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    /* background-color: blue; */
    gap: 4px;
}
.profile-pic {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 76px;
    height: 76px;
    /* margin-left: px; */
    /* background-color: red; */
    border-radius: 50%;
    overflow:auto;
}
.profile-pic img {
    width: 100%;
    height: 100%;
}
.profile-id-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222222;

}
.profile-text-area-outter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 208px;
    height: 120px;
}
.profile-text-title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin-bottom: 10px; */
    width: 200px;
    height: 22px;
    /* background-color: red; */
    /* overflow: ; */
    /* padding : var(--section-padding); */

}
.profile-text-title-area h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #222222;
}

.profile-text-contents-area {
    /* display: flex; */
    /* display: -webkit-flex; */
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */


    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */

    width: 208px;
    height: 60px;
    /* padding : var(--section-padding); */
}
.profile-text-contents-area p {
    width: 208px;
    /* height: 60px; */
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #717171;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.profile-status-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    /* background-color: chartreuse; */
    gap: 2px;
    padding: var(--section-padding)
}
.status-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#182CE3;
}
.status-icon {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    /* overflow: auto; */
}
.status-icon img {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/*====== 가로 스크롤 설정 영역 ======*/
.theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 390px;
    height: 420px;
    margin: 23px 0;
    padding: 0 2px;
    /* gap: 10px; */
}
.theme__container{
    /* width: 390px;
    height: 600px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
    padding: var(--section-padding);
}
/* .theme__container p{
    display: flex;
    flex-direction: column;
} */
.theme__container::-webkit-scrollbar{
    display: none;
}